<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="wallet" translate="label" sortOrder="10">
            <label>Wallet</label>
        </tab>
        <section id="wallet_configuration" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Wallet Configuration</label>
            <tab>wallet</tab>
            <resource>NewMagentoAssignment::wallet_configuration</resource>

            <group id="custompayment" translate="label" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Wallet Payment Method</label>
                <field id="active" translate="label comment" sortOrder="10" type="select" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Custom Payment</label>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="min_balance_limit" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Min Balance</label>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="max_balance_limit" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Max Balance</label>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="otp" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Otp Enable</label>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>

            <group id="reward_settings" translate="label" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Reward System</label>
                <depends>
                    <field id="custompayment/active">1</field>
                </depends>
                <field id="enable_rewards" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Rewards</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="reward_type" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Reward Type</label>
                    <source_model>NewMagentoAssignment\Wallet\Model\Config\Source\RewardType</source_model>
                    <depends>
                        <field id="enable_rewards">1</field>
                    </depends>
                </field>

                <field id="reward_value" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Reward Value</label>
                    <depends>
                        <field id="enable_rewards">1</field>
                        <frontend_class>validate-digits</frontend_class>
                    </depends>
                </field>

            </group>
            <group id="refund_setting" translate="label" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Refund System</label>
                <field id="enable_refund" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Refund Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
